.info-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  height: 50px;
}

.info-tooltip_visible {
  visibility: visible;
}

.info-tooltip__icon {
  max-width: 30px;
  width: 100%;
  align-self: center;
  margin: 0 auto;
}

.info-tooltip__title {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin: 0 auto 8px;
}

.info-tooltip__title_succes {
  color: #2BE080;
}

.info-tooltip__title_fail {
  color: #FF3055;
}
