.header {
  background: #FFFFFF;
}

.header_theme_dark {
  background: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .header__wrapper {
    display: none;
  }
}

.header__links {
  margin-right: 30px;
}

@media (max-width: 425px) {
  .header__links {
    margin-right: 14px;
  }
}

.header__links:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

@media (max-width: 425px) {
  .header__link {
    font-size: 10px;
  }
}

.header__link_theme_dark {
  color: #FFFFFF;
}

.header__link_type_button {
  padding: 8.5px 20px;
  background: #2BE080;
  border-radius: 3px;
  line-height: 0;
}

@media (max-width: 425px) {
  .header__link_type_button {
    padding: 7px 12.2px;
  }
}

.header__nav {
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  text-align: center;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  margin: 0 8px;
}

.header__nav-link_active {
  font-weight: 500;
}

.header__profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 21px 70px 21px 0;
  width: 100px;
  height: 32px;
  border: 2px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 50px;
}

.header__profile-link {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__profile-icon {
  background-image: url(../../images/profile-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  width: 12px;
  height: 14px;
  padding-right: 7px;
}

.header__burger-button {
  display: none;
}

.header__burger-button:focus {
  outline:#3456F3 auto 1px;
}

@media (max-width: 768px) {
  .header__burger-button {
    display: block;
    border: none;
    background-image: url(../../images/burger-menu_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 28px;
    height: 24px;
    padding: 0;
    margin: 25px 30px auto 0;
  }
}

@media (max-width: 425px) {
  .header__burger-button {
    background-size: 30px;
    padding: 11px;
    margin: 25px 14px auto 0;
  }
}
